html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background: rgb(40, 40, 40) radial-gradient(rgb(50, 50, 50) 2.5px, transparent 0);
    color: rgb(245, 245, 245);
}

main {
    margin: auto;
    flex: 1;
}

#menu-box {
    margin-top: 1em;
    border-radius: 0.5em;
    padding: 2em 2.5em;
    background-color: rgb(55, 55, 55);
    max-width: 400px;
}

#success {
    display: none;
    color: lawngreen;
}

td {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

table {
    border-spacing: 1em 0;
}

#title {
    margin-top: 0;
}

#input-code {
    background-color: transparent;
    border: 0.15em solid rgb(245, 245, 245);
    border-radius: 0.3em;
    padding: 0.2em;
    color: rgb(245, 245, 245);
    font-family: 'Nunito', sans-serif;
}

#upload-button {
    margin: auto;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 0.3em;
    padding: 0.5em;
    margin-top: 0.3em;
    color: black;
    font-weight: bold;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
}

#upload-button:hover {
    background-color: rgb(150, 150, 150);
}

footer {
    text-align: center;
    padding: 0.5em;
}

footer p {
    margin: 0;
    color: rgb(150, 150, 150);
}

a {
    text-decoration: none;
    color: rgb(245, 245, 245);
}

a:hover {
    color: rgb(150, 150, 150);
}